[submodule "NativeHost/src/vendor/glfw/glfw"]
	path = NativeHost/src/vendor/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "NativeHost/src/vendor/imgui/imgui"]
	path = NativeHost/src/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
